<template>
  <div id="logopanel" class="panel">

  <div class="logo-comp">
    <img src="../assets/mw.svg">
	  <div>MW-MTF</div>
  </div>

  <div class="about-txt"><v-say text="about-txt" /></div>

  </div>
</template>

<script>
export default{
  name: 'Home',
  data () {
    return {
      msg: 'This variable is not being used'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>

.about-txt{
  max-width: 800px;
  margin: auto;
  font-size: 20pt;
  font-family: "EB Garamond";
  margin-top: 10px;
}

.logo-comp{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 128px auto;
  max-width: 500px;
  margin: auto;
  img{
    grid-column: 1;
  }
  div{
    grid-column: 2;
    background-color: #000000;
    color: #ffff00;
    font-size: 60pt;
    font-family: "EB Garamond";
    padding-top: 30px;
  }
}

.panel{
  text-align: center;
}

#logopanel{
}


</style>
