<template>
  <div id="app">
    <div id="sidebar" v-bind:class="{ active: isActive }">
        <div class="toggle-btn" v-on:click="toogleSidebar">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li><vl-select /></li>
            <li><a href="#/"><v-say text="welcome" /></a></li>
        </ul>
    </div>
    <div id="content" v-bind:class="{ active: isActive }">
        <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      'isActive': true,
      'showSubMenu0': false
    }
  },
  methods: {
    toogleSidebar: function () {
      this.isActive = !this.isActive
    },
    toogleSubMenu: function () {
      this.showSubMenu0 = !this.showSubMenu0
    }
  },
  beforeCreate: function () {
    console.log('Before Create App')
  },
  created: function () {
    console.log('Created App')
  },
  beforeMount: function () {
    console.log('Before Mount App')
  },
  mounted: function () {
    console.log('Mounted App')
  },
  beforeUpdate: function () {
    console.log('Before Update App')
  },
  updated: function () {
    console.log('Updated App')
  },
  beforeDestroy: function () {
    console.log('Before Destroy App')
  },
  destroyed: function () {
    console.log('Destroyed App')
  }
}
</script>

<style lang="less">
@sidebar_width: 250px;
@sidebar_bg: #151719;
@sidebar_textcolor: #ffff00;
@content_bg: #ffffff;
@temp: 500px;

.TRAN(@prop,@time,@mode) {
    -webkit-transition: @prop @time @mode;
    -moz-transition: @prop @time @mode;
    -ms-transition: @prop @time @mode;
    -o-transition: @prop @time @mode;
    transition: @prop @time @mode;
}

.retractile() {
    left: -(@sidebar_width);
    .TRAN(left,500ms,linear);
    &.active {
       left: 0px;
    }
}

body {
    margin:0px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 0px;
    background-color: #ffff00;
}

h1 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#app {
    /* border: 1px solid #000; */
    position: absolute;
    width: 100%;
}

#sidebar, #content {
    font-size: 18pt;
}

#sidebar {
    position: fixed;
    width: @sidebar_width;
    height: 100%;
    background-color: @sidebar_bg;
    
    .retractile();

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
            color: rgba(230,230,230,0.9);
            padding: 15px 10px;
            border-bottom: 1px solid rgba(100,100,100,0.3);
            a {
                color: @sidebar_textcolor;
                + ul{
                   display: none;
                }
                &.active + ul {
                   display: block;
                }
            }
        }
    }
    
    .toggle-btn {
        position: absolute;
        left: @sidebar_width + 15px;
        top:20px;
        background-color: #ffff00;
        padding: 0px 5px;
        span{
            display: block;
            width: 30px;
            height: 5px;
            background-color: @sidebar_bg;
            margin:5px 0px;
        }
    }
}

#content {
    padding-top: 50px;

    min-width: calc( ~"100% - " (@sidebar_width + 20px));

    margin-left: (@sidebar_width);
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
    margin-left: 0px; 

}

@media screen and (min-width: 600px){

#content{

    .TRAN(margin-left,500ms,linear);

    &.active{
      margin-left: (@sidebar_width);
    }

}

}

</style>
